<div class="container-fluid bg-container h-100">

  <!-- Navbar -->
  <div class="row p-4">

    <!-- Brand -->
    <div class="col-12 col-md-6 my-auto">
      <a class="navbar-brand d-inline-block">
        <img class="brand-icon-img" src="./../assets/img/brand-icon.png" alt="logo">
      </a>
      <h2 class="d-inline-block mb-0 align-middle text-light">Wiins</h2>
    </div>

    <!-- Button List -->
    <div class="col-12 col-md-6 row my-auto">
      <div class="d-flex justify-content-end container-nav-btn">

        <!-- Button -->
        <!-- <div class="container-nav-btn" *ngFor="let item of btnRoutes"> -->
          <button class="btn btn-sm mx-2 text-light" [routerLink]="item.path" routerLinkActive="route-active" *ngFor="let item of btnRoutes">
            <span>{{item.name}}</span>
            <div class="underline mx-auto"></div>
          </button>
        <!-- </div> -->
        <button class="btn btn-sm mx-2 text-light" (click)="goToGitHub()">
          <span>GitHub</span>
          <div class="underline mx-auto"></div>
        </button>
        <!-- <div class="container-nav-btn"> -->
          <button class="btn btn-sm mx-2 text-light signIn-btn px-4">
            <span>SignIn</span>
          </button>
        <!-- </div> -->
      </div>
    </div>

  </div>


  <!-- Router container -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>


</div>