<div class="container h-100">
    <div class="row mx-0 h-100 pt-5">
      <div class="col-12 col-md-6 d-flex align-items-center pt-5">
  
        <div class="container-fluid">
  
          <!-- Description -->
          <div class="row mx-0">
            <span class="display-3 text-light col-12">
              <strong>More we are...</strong>
              <br>
              <strong>Better it is</strong>
            </span>
            <p class="text-light col-12 py-3">Don't miss out on the release of our new updates. Sign up below to receive updates when we go live.</p>
          </div>
  
          <!-- Button -->
          <div class="d-flex ms-3" (click)="goToDiscord()">
            <button class="btn btn-lg btn-block btn-primary btn-action px-5">Join Discord</button>
          </div>
  
        </div>
  
      </div>
      <div class="col-12 col-md-6 h-100 d-flex justify-content-center my-auto">
        <div class="justify-content-center align-items-center">
          <img class="w-100 h-100" src="./../../../../assets/img/discord-group-img.png" alt="logo">
        </div>
      </div>
    </div>
  </div>