// New's Feed & Discover
.newsfeed-discover {
    margin-top: 3em;
  }
  
  // Description
  .descript {
    span {
      font-weight: 400;
    }
  
    p {
      font-size: 24px;
    }
  }
  
  // Phone Image (animation)
  .container-img {
    position: relative;
    z-index: 1;
  
    .bi-arrow-left-circle {
      position: absolute;
      top: 8em;
      left: 0;
      z-index: 999;
      cursor: pointer;
    }
  
    .bi-arrow-right-circle {
      position: absolute;
      bottom: 8em;
      right: 0;
      z-index: 999;
      cursor: pointer;
    }
  }
  
  .color-inactive {
    color: rgba(255, 255, 255, 0.2);
  }
  
  .phone-inactive {
    transition: all 1s;
    opacity: 0.03;
  }
  .phone-active {
    transition: all 1s;
    opacity: 1;
  }
  
  // Responsive
  @media screen and (min-width: 500px) and (max-width: 768px) {
    .container-img {
      .bi-arrow-left-circle {
        position: absolute;
        top: 8em;
        left: 0;
      }
  
      .bi-arrow-right-circle {
        position: absolute;
        top: 8em;
        right: 0;
      }
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .container-img {
      .bi-arrow-left-circle {
        position: absolute;
        top: 8em;
        left: 0;
      }
  
      .bi-arrow-right-circle {
        position: absolute;
        bottom: 8em;
        right: 0;
      }
    }
  }
  
  // Default Position Animation (left)
  .slide-component .left-slide {
    position: relative;
    transform: translateX(-50em);
    opacity: 0;
    transition: all 1s;
  }
  
  // Next Position Animation (Left Side - Scroll Event)
  .animation_component .slide-component .left-slide {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
  
  // Default Position Animation (right)
  .slide-component .right-slide {
    position: relative;
    transform: translateX(50em);
    opacity: 0;
    transition: all 1s;
  }
  
  // Next Position Animation (Right Side - Scroll Event)
  .animation_component .slide-component .right-slide {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
  