    <!-- Profile -->
    <div [class.animation_component]="slide_change">
        <div class="col-12 d-flex flex-column flex-lg-row justify-content-between px-5 profile slide-component">
          <div class="col-12 col-lg-6 d-flex align-items-center left-slide">
            <div class="container-fluid descript">
              <!-- Description -->
              <div class="row mx-0 mt-5 mt-lg-0">
                <span class="display-3 text-light col-12 text-center text-lg-start">
                  <strong>{{'LANDING_PAGE.e-profil.title' | translate}}</strong>
                </span>
                <p class="text-light col-12 py-3 mt-3 text-center text-lg-start">{{'LANDING_PAGE.e-profil.text' | translate}}</p>
              </div>
            </div>
          </div>
          <!-- Phone Image -->
          <div class="container-img d-flex col-12 col-lg-6 mt-5 mb-lg-5 pb-lg-5 right-slide">
            <div class="d-flex align-items-baseline">
              <div class="col-12 d-flex justify-content-center">
                  <img class="w-100 h-100"
                  src="../../../../../assets/img/e - Profile/profile-phone.svg" alt="Profile">
              </div>
            </div>
          </div>
        </div>
      </div>
  