<!-- Contact Us -->
<div [class.animation_component]="slide_change">
    <div class="col-12 d-flex flex-column flex-lg-row justify-content-between align-items-center px-5 contact-us slide-component" id="{{contactId}}">
        <!-- Text -->
        <div class="col-12 col-md-5 d-flex align-items-center left-slide">
            <app-text-contact></app-text-contact>
        </div>
        <div class="col-12 col-md-7 right-slide">
            <app-cards-contact></app-cards-contact>
        </div>
    </div>
    <!-- Social Lists -->
    <div class="social-lists w-100 my-5">
        <ul class="d-flex justify-content-center justify-content-lg-start align-items-center h-100 px-5">
            <li *ngFor="let social of socialLists" (click)="goToSocial(social.path)"><img [src]="social.src" [alt]="social.name"></li>
        </ul>
    </div>
</div>

