    <!-- Imagine an Infinite Space -->
    <div [class.animation_component]="slide_change">
        <div class="col-12 d-flex flex-column flex-lg-row justify-content-between px-5 early-access slide-component">
          <div class="col-12 col-lg-6 d-flex align-items-center left-slide">
            <div class="container-fluid descript">
              <!-- Description -->
              <div class="row mx-0 mt-5 mt-lg-0">
                <span class="display-3 text-light col-12 text-center text-lg-start">
                  <strong>{{'LANDING_PAGE.b-imagine-early-access.title' | translate}}</strong>
                </span>
                <p class="text-light col-12 py-3 mt-3 text-center text-lg-start">{{'LANDING_PAGE.b-imagine-early-access.text' | translate}}</p>
              </div>
              <!-- Button -->
              <div class="appBtn d-flex flex-column flex-md-row justify-content-between align-items-center mt-3 text-center text-lg-start mb-lg-5 pb-lg-5">
              <button class="btn-lg btn-block btn-action p-lg-0" (click)="goToGooglePlay()">
                    <img src="../../../../../assets/img/b - Imagine Early/google-play.svg" alt="Google Play">
              </button>
              <button class="btn-lg btn-block btn-action p-lg-0 appStore">
                    <img src="../../../../../assets/img/b - Imagine Early/app-store.svg" alt="App Store">
              </button>
              </div>
            </div>
          </div>
          <!-- Phone Image -->
          <div class="col-12 col-lg-6 mb-lg-5 pb-lg-5 right-slide">
            <div class="justify-content-center align-items-start">
              <img class="w-100 h-100" src="../../../../../assets/img/b - Imagine Early/nav-early-acces.svg" alt="Navigation">
            </div>
          </div>
        </div>
      </div>
  