// Imagine an Infinite Space
.early-access {
    margin-top: 3em;
  }
  
  // Description
  .descript  {
    span {
      font-weight: 400;
    }
  
    p {
      font-size: 24px;
    }
  }
  
  // Button
  .appBtn {
    position: relative;
    left: -0.5rem;
  }
  
  .btn-action {
    background: transparent;
    border-radius: 13px;
    border: 0;
  
    img {
      width: 300px;
    }
  }
  
  .btn-action.appStore {
    position: relative;
    bottom: .2rem;
    cursor: not-allowed;
  }
  
  // Responsive
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .btn-action:nth-of-type(2) {
      position: relative;
      bottom: 2px;
    }
  
    .btn-action img {
      width: 240px;
    }
  }
  
  @media screen and (min-width: 993px) and (max-width: 1200px) {
    .btn-action:nth-of-type(2) {
      position: relative;
      bottom: 2px;
    }
  
    .btn-action img {
      width: 180px;
    }
  }
  
  // Default Position Animation (left)
  .slide-component .left-slide {
    position: relative;
    transform: translateX(-50em);
    opacity: 0;
    transition: all 1s;
  }
  
  // Next Position Animation (Left Side - Scroll Event)
  .animation_component .slide-component .left-slide {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
  
  // Default Position Animation (right)
  .slide-component .right-slide {
    position: relative;
    transform: translateX(50em);
    opacity: 0;
    transition: all 1s;
  }
  
  // Next Position Animation (Right Side - Scroll Event)
  .animation_component .slide-component .right-slide {
    opacity: 1;
    transform: translateX(0);
    transition: all 1s;
  }
  