<div class="nav-bar-container">
  <div class="row">

    <!-- Search Bar -->
    <div class="col">
      Column
    </div>

    <!-- Navigation -->
    <div class="col">
        <i class="bi bi-house"></i>
        <i class="bi bi-music-note-beamed"></i>
        <i class="bi bi-chat-right-text"></i>
        <i class="bi bi-collection-play"></i>
        <i class="bi bi-people-fill"></i>
    </div>

    <!-- Avatar -->
    <div class="col">
      <button (click)="logOut()">
        <span>logOut</span>
      </button>
    </div>
    
  </div>
</div>