// [Main Navbar]
.nav-bar-container {
  position: relative;
  width: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: hsla(0, 0%, 100%, .8);
  border-bottom: 1px solid #e7e7e7;
  z-index: 999;
}

// Navigation
.container-menu-icon .bi {
  color: #5e5e5e;
}

.container-menu-icon {
  .container-icon {
    cursor: pointer;
  }
}

.container-menu-icon .search-input {position: relative;}
.container-menu-icon .search-input input {
  background: #F2F2F2;
  border-radius: 17px;
  border: none;
}

.container-menu-icon .search-input input:focus {
  border: none;
  outline: none;
}

.container-menu-icon .search-input .search-icon {
  position: absolute;
  top: .6rem;
  left: 1.8rem;
  font-size: 20px;
}

// Notification
.notif-btn {
  border: 0;
  background-color: transparent;

  i {
    font-size: 1.5rem;
  }
}

.notif-btn {
  color: #5e5e5e;
}

// Avatar
.container-my-profile {
  .avatar-nav-bar {
    border: 0;
    background: none;
    color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    height: 45px;
    padding-left: 7.5px;
  }

  .my-avatar {
    width: 40px;
    height: 40px;
    cursor: pointer;
    object-fit: cover;
    box-shadow: none;
  }

  .rounded-circle {
    border-radius: 50%;
    padding: 2px;
    background: linear-gradient(180deg, #fcb045, #fd1d1d, #833ab4);
  }

  .dropdown-menu {
    margin-top: 2rem;
    right: 80%;
    border-radius: 10px;
  }
}