<div class="nav-bar-container position-fixed">
  <div class="row px-4 py-2">

    <!-- Search Bar -->
    <div class="col-7 col-sm-7 col-md-4 col-xl-4 my-auto">
      Column
    </div>

    <!-- Navigation -->
    <div class="col-xl-4 col-md-5 row px-0 d-none d-sm-block d-md-block d-xl-block container-menu-icon">
      <div class="d-flex flex-row justify-content-center">
        <div class="d-inline-flex justify-content-center my-auto container-icon" *ngFor="let item of navigationRoute">
          <i class="bi px-4" [ngClass]="item.icon" [style.fontSize]="item.fontSize"></i>
        </div>
      </div>
    </div>

    <!-- Avatar -->
    <div class="col-5 col-sm-5 col-md-3 col-xl-4 my-auto d-flex justify-content-end">

      <!-- Notification -->
      <button class="notif-btn px-3">
        <i class="bi bi-person-plus"></i>
      </button>

      <button class="notif-btn px-3">
        <i class="bi bi-bell"></i>
      </button>

      <!-- Avatar -->
      <div class="px-3 container-my-profile btn-group dropstart">
        <button class="avatar-nav-bar nav-link py-0 my-auto ml-auto w-100" data-bs-toggle="dropdown"
          data-bs-display="static" aria-expanded="false">
          <img
            src="https://images.unsplash.com/photo-1644788131846-520564d7bd8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1310&q=80"
            class="rounded-circle z-depth-0 my-avatar" alt="avatar">
        </button>
        <ul class="dropdown-menu border-0 shadow">

          <li>
            <button (click)="reportIssueToDiscord()" class="dropdown-item" type="button">
              <span class="text-primary">Report a problem</span>
            </button>
          </li>

          <li>
            <button (click)="logOut()" class="dropdown-item" type="button">
              <span class="text-primary">Log Out</span>
            </button>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>