<!-- [Main Navbar] -->
<div class="nav-bar-container w-100">
  <div class="row px-4 py-2">
    <!-- Brand -->
    <div class="brand-icon col-7 col-md-2 my-auto">
      <img
        src="https://bafkreicaaloay2njlsj75uphkzw56ulgv2rf7xpwd42gi5ys6ix4m2flqm.ipfs.nftstorage.link/?filename=logo.svg"
        alt="Logo" />
    </div>

    <!-- Navigation -->
    <div class="col-md-7 row px-0 d-none d-md-flex container-menu-icon">
      <div class="search-input d-flex flex-row justify-content-center py-1">
        <input class="w-100 ps-5" type="search" placeholder="Search" />
        <div class="search-icon">
          <i class="bi bi-search"></i>
        </div>
      </div>
    </div>

    <!-- Profile -->
    <div class="col-5 col-md-3 my-auto d-flex justify-content-end">
      <!-- Notification -->
      <button class="notif-btn px-3">
        <i class="bi bi-person-plus"></i>
      </button>

      <button class="notif-btn px-3">
        <i class="bi bi-bell"></i>
      </button>

      <!-- Avatar -->
      <div class="px-3 container-my-profile btn-group dropstart">
        <button
          class="avatar-nav-bar nav-link py-0 my-auto ml-auto w-100"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false">
          <img
            src="https://images.unsplash.com/photo-1644788131846-520564d7bd8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1310&q=80"
            class="rounded-circle z-depth-0 my-avatar"
            alt="avatar" />
        </button>
        <ul class="dropdown-menu border-0 shadow">
          <li>
            <button
              (click)="reportIssueToDiscord()"
              class="dropdown-item"
              type="button">
              <span class="text-primary">Report a problem</span>
            </button>
          </li>

          <li>
            <button (click)="logOut()" class="dropdown-item" type="button">
              <span class="text-primary">Log Out</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
