// Section
.section {

    h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 39px;

        a {
            text-decoration: none;
            color: #242A37;
        }
    }

    .active-tab {
        border-bottom: 4px solid;
        border-image-slice: 1;
        border-width: 4px;
        border-image-source: linear-gradient(to right, #2CB0D6, #515DDD, #6743E0, #FF5964);
    }
}

// Card
.card {
    position: relative;
    border-radius: 20px;
    background: #FFFFFF;
    border: 1px solid #F0F6FD;
    box-shadow: 0px 10px 40px rgba(222, 230, 237, 0.4);
    border-radius: 15px;

    // Card Header
    .card-header {
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom: 0;
        background: #FFFFFF;

        .avatar-user {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: linear-gradient(130deg, #58AED2, #4A85D1, #545DD5, #6245D8, #EC6569);
            cursor: pointer;

            img {
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                border: 3px solid transparent;
                cursor: pointer;
            }
        }

        .pseudo-user {
            .pseudo {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 17px;
                color: #1B1D28;
            }

            .city {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 12px;
                color: #76777E;
            }
        }

        .setting {
            cursor: pointer;

            .bi-three-dots {
                font-size: 30px;
                color: #AFC1D9;
            }
        }
    }

    // Card Body
    .card-body {
        position: relative;
        border-bottom: 0;
        background: #FFFFFF;

        img {
            object-fit: cover;
            object-position: center;
            border-radius: 20px;
            cursor: pointer;
        }
    }

    // Card Footer
    .card-footer {
        background: #FFFFFF;
        border-top: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 0 1.5rem 2rem;

        .icon-list i {
            font-size: 20px;
            color: #58AED2;
        }

        .comment {
            .user-coms {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 15px;
                color: #1B1D28;
            }

            .date {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 12px;
                color: #76777E;
            }
        }
    }
}

// [Responsive] => Section News Feed - Discovers
@media screen and (min-width: 500px) and (max-width: 768px) {
    .masonry-items {
        width: 100%;
    }

    .section {width: 100%;}
    .section h1 {
        font-size: 25px;
    }
  }