<!-- News Feed Cards -->
<div class="container d-flex justify-content-center">
  <div class="row w-100">
    <div class="col-12 d-flex flex-column align-items-center">
      <div class="section d-flex justify-content-evenly w-100 mb-5">
        <h1><a [routerLink]="['/home/SpaceStory']" routerLinkActive="test">News Feed</a></h1>
        <h1><a>Discover</a></h1>
      </div>
      <ngx-masonry class="masonry" style="width: 90vw;" [ordered]="true">
        <div ngxMasonryItem class="px-2 mb-2 col-12 col-md-6 col-lg-4 col-xxl-3" *ngFor="let image of masonryImages; index as idx">
          <div class="card masonry-items">
            <!-- Card Header -->
            <div class="card-header d-flex align-items-center col-12 p-3">
              <div class="avatar-user col-2">
                <img class="w-100 h-100" [src]="image[1]" alt="Avatar User">
              </div>
              <div class="pseudo-user col-9 ps-3">
                <p class="pseudo m-0">Pseudo</p>
                <p class="city m-0">City</p>
              </div>
              <div class="setting col-1">
                <i class="bi bi-three-dots"></i>
              </div>
            </div>
            <!-- Card Body -->
            <div class="card-body pt-0">
              <img class="w-100 h-100" [src]="image[1]" alt="">
            </div>
            <!-- Card Footer -->
            <div class="card-footer">
              <div class="icon-list d-flex mb-2">
                <div class="heart-icon me-3">
                  <i class="bi bi-heart-fill"></i>
                </div>
                <div class="comment-icon me-3">
                  <i class="bi bi-chat-fill"></i>
                </div>
                <div class="send-icon">
                  <i class="bi bi-send-fill"></i>
                </div>
              </div>
              <div class="comment">
                <p class="user-coms m-0">"Fox can be smarter than a wolf... (More)</p>
                <p class="date m-0">Wed, 26 January 2021</p>
              </div>
            </div>
          </div>

        </div>

      </ngx-masonry>
    </div>
  </div>
</div>