    <!-- Let's Build the future -->
    <div class="col-12 d-flex flex-column flex-lg-row px-5 build">
        <div class="col-12 col-lg-6 d-flex align-items-center">
          <div class="container-fluid descript">
            <!-- Description -->
            <div class="row mx-0 mt-5 mt-lg-0">
              <span class="display-3 text-light col-12 text-center text-lg-start">
                <strong>{{ 'LANDING_PAGE.a-lets-build-future.title' | translate}}</strong>
              </span>
              <p class="text-light col-12 py-3 mt-3 text-center text-lg-start">{{'LANDING_PAGE.a-lets-build-future.text' | translate}}</p>
            </div>
            <!-- Button -->
            <div class="mt-3 text-center text-lg-start ms-lg-3 mb-lg-5 pb-lg-5">
              <button class="btn btn-lg btn-block btn-primary btn-action px-5 border-0" (click)="authService.login()">{{'LANDING_PAGE.a-lets-build-future.button-join-us' | translate}}</button>
            </div>
          </div>
        </div>
        <!-- Phone Image -->
        <div class="col-12 col-lg-6 mt-5 mb-lg-5 pb-lg-5">
          <div class="justify-content-center align-items-center">
            <img class="w-100 h-100" src="./../../../../../assets/img/a - Let's Build/phone-element.svg" alt="Phone">
          </div>
        </div>
      </div>