// Let's Build the future
.build {
    margin-top: 8em;
  }
  
  // Description
  .descript {
    span {
      font-weight: 400;
    }
  
    p {
      font-size: 24px;
    }
  
    button {
      transition: all 0.3s;
      outline: 2px solid transparent;
    }
  
    button:hover {
      outline: 2px solid #fff;
    }
  
  }
  
  // Button
  .btn-action {
    background: linear-gradient(90deg, #345aa4, rgba(63, 0, 156, 0.92));
    border-radius: 13px;
  }