<div class="container-fluid overflow-hidden p-0 join-us">
  <div class="row mx-0">
    <!-- Let's Build the future together -->
    <app-a-lets-build class="px-0"></app-a-lets-build>

    <!-- Imagine early access -->
    <app-b-imagine-early-access></app-b-imagine-early-access>

    <!-- New's Feed & Discover -->
    <app-c-newsfeed-discover></app-c-newsfeed-discover>

    <!-- Messenger -->
    <app-d-messenger></app-d-messenger>

    <!-- Profile -->
    <app-e-profile></app-e-profile>

    <!-- Music & Video -->
    <app-f-music-video></app-f-music-video>

    <!-- Team -->
    <app-g-team></app-g-team>

    <!-- Zion -->
    <app-h-zion></app-h-zion>

    <!-- White Paper -->
    <app-i-white-paper></app-i-white-paper>

    <!-- Contact -->
    <app-j-contact class="px-0"></app-j-contact>
  </div>
</div>