<div class="container">
  <div class="row mx-0">
    <div class="col-12 col-md-6 d-flex align-items-center">

      <div class="container-fluid">

        <!-- Description -->
        <div class="row mx-0">
          <span class="display-3 text-light col-12">
            <strong>Let's build the
              future toghether</strong>
          </span>
          <h4 class="text-light col-12 py-3">The future is now</h4>
        </div>

        <!-- Button -->
        <div class="d-flex ms-3">
          <button class="btn btn-lg btn-block btn-primary btn-action px-5" (click)="authService.login()">Join
            Now</button>
        </div>
      </div>

    </div>
    <div class="col-12 col-md-6">
      <div class="justify-content-center align-items-center">
        <img class="w-100 h-100" src="./../../../../assets/img/internet-phone-element.png" alt="logo">
      </div>
    </div>
  </div>
</div>