<!-- Team -->
<div [class.animation_component]="slide_change">
    <div class="col-12 d-flex flex-column flex-lg-row justify-content-between team px-5 slide-component" id="{{teamId}}">
        <div class="col-12 col-lg-6 d-lg-flex text-center left-slide">
            <div class="row descript mx-0 mt-5 mt-lg-0 text-lg-start">
                <div>
                    <span class="display-3 text-light col-12 text-center text-lg-start">
                        <strong>{{'LANDING_PAGE.g-team.title' | translate}}</strong>
                    </span>
                    <!-- Collaborator -->
                    <p class="text-light col-12 py-3 mt-3 text-center text-lg-start">1st Wiin’ser : Richard R. Hakim D.
                        Méryline D.
                        Thierry T. Josh, Celine D. Tony...</p>
                </div>
                <!-- Wiin's Team -->
                <div class="d-flex align-items-baseline align-items-lg-end mb-5 py-5">
                    <img class="w-100" src="../../../../../assets/img/g - Team/team.svg" alt="Wiin's Team">
                </div>
            </div>
        </div>
        <!-- Founder -->
        <div class="container-img d-flex flex-column mt-5 col-12 col-lg-6 mb-lg-5 pb-lg-5 right-slide">
            <div class="ceo d-flex flex-column align-items-center text-center mb-5">
                <div class="avatar">
                    <img src="../../../../../assets/img/g - Team/raphael.svg" alt="CEO">
                </div>
                <div class="info">
                    <h4>Raphaël</h4>
                    <p class="text-white">{{'LANDING_PAGE.g-team.main-founder' | translate}}<br />
                        {{'LANDING_PAGE.g-team.fullstack-developper' | translate}}</p>
                </div>
            </div>
            <div class="manager d-flex flex-column align-items-center text-center mb-5">
                <div class="avatar">
                    <img src="../../../../../assets/img/g - Team/levine.svg" alt="Manager">
                </div>
                <div class="info">
                    <h4>Lévine</h4>
                    <p class="text-white">
                        {{'LANDING_PAGE.g-team.founder' | translate}}<br />
                        {{'LANDING_PAGE.g-team.manager' | translate}}
                    </p>
                </div>
            </div>
            <div class="developper d-flex flex-column align-items-center text-center">
                <div class="avatar">
                    <img src="../../../../../assets/img/g - Team/nathanael.svg" alt="Developper">
                </div>
                <div class="info">
                    <h4>Nathanaël</h4>
                    <p class="text-white"> {{'LANDING_PAGE.g-team.founder' | translate}}<br />
                        {{'LANDING_PAGE.g-team.front-end-developper' | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
