.nav-bar-container {
  z-index: 1000;
}

.container-router {
  padding-top: 67px;
}

.container-sidebar {
  margin-top: 67px;
  width: 80px;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.container-page {
  background-color: red;
  width: calc(100% - 80px);
  float: right;
}