.nav-bar-container {
  z-index: 1000;
}

.container-router {
  padding-top: 67px;
}

.container-sidebar {
  height: calc(100% - 67px);
  width: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.container-page {
  width: calc(100% - 80px);
  float: right;
}