<!-- // More We Are -->
<div class="row mx-0 mt-5 mt-lg-0 more-we-are">
    <div class="d-flex flex-column flex-xl-row align-items-center justify-content-xl-end">
        <!-- Community Card -->
        <div class="card">
             <!-- Header -->
            <header class="d-flex align-items-center justify-content-between px-2 w-100">
                <div class="community">
                    <img src="../../../../../../assets/img/j-contact/community-avatar.svg" alt="Community Avatar">
                </div>
                <div class="title">
                    <h4>Wiins Community</h4>
                    <p><span>#</span>Annoucement</p>
                </div>
                <div class="join-chat">
                    <button class="btn p-2" (click)="onJoinChat()">
                        Join Chat
                    </button>
                </div>
            </header>
            <!-- Body -->
            <body class="lists-community">
                <ul class="d-flex px-2 mt-2">
                    <li>
                        <img class="admin" src="../../../../../../assets/img/j-contact/administrator-community.svg" alt="Admin Community">
                    </li>
                    <li>
                        <i class="bi bi-discord text-white"></i>
                    </li>
                    <li>
                        <i class="bi bi-discord text-white"></i>
                    </li>
                    <li>
                        <i class="bi bi-discord text-white"></i>
                    </li>
                    <li>
                        <i class="bi bi-discord text-white"></i>
                    </li>
                </ul>
            </body>
        </div>
        <!-- Github Card -->
        <div class="card mt-5 mt-xl-0 ms-xl-5">
            <!-- Header -->
            <header class="d-flex align-items-center justify-content-between w-100 px-2">
                <div class="github">
                    <img src="../../../../../../assets/img/j-contact/github-avatar.svg" alt="Github Avatar">
                </div>
                <div class="title">
                    <h4>WiinsWeb</h4>
                    <p><span>#</span>Readme</p>
                </div>
                <div class="join-project">
                    <button class="btn p-2" (click)="onWiinsWeb()">
                        Join Project
                    </button>
                </div>
            </header>
            <!-- Body -->
            <body class="lists-devs">
                <ul class="d-flex px-2 mt-2">
                    <li *ngFor="let dev of devs" (click)="goToGitHub(dev.path)">
                        <img [src]="dev.avatar" alt="{{dev.name}}">
                    </li>
                </ul>
            </body>
        </div>
    </div>
</div>