    <!-- Zion -->
    <div [class.animation_component]="slide_change">
        <div class="col-12 d-flex flex-column flex-lg-row justify-content-center zion px-5 slide-component" id="{{tokenId}}">
          <div class="col-12 col-lg-6 mt-5 mb-lg-6 pb-lg-5 d-flex justify-content-center justify-content-lg-start align-items-center position-relative left-slide">
            <div class="justify-content-center align-items-center">
              <!-- Token -->
                <div class="main-container d-flex justify-content-between align-items-center width: 100%;">
                    <div class="token">
                      <div class="front w-100 h-100"></div>
                      <div class="back w-100 h-100"></div>
                    </div>
                </div>
            </div>
            <img class="link d-none d-xl-block" src="./../../../../../assets/img/h-Zion/link.svg" alt="Link">
          </div>
          <div class="col-12 col-lg-6 col-xl-5 d-flex align-items-center right-slide">
              <div class="container-fluid descript">
                <!-- Description -->
                <div class="row mx-0 mt-5 mt-lg-0">
                  <span class="display-3 text-light col-12 text-center text-lg-end">
                    <strong>{{'LANDING_PAGE.h-zion.title' | translate}}</strong>
                  </span>
                  <p class="text-light col-12 py-3 mt-3 text-center text-lg-end">{{'LANDING_PAGE.h-zion.text' | translate}}</p>
                </div>
                <!-- Button -->
                <div class="mt-3 text-center text-lg-end ms-md-3 mb-lg-5 pb-lg-5 pe-lg-2">
                  <button class="btn btn-lg btn-block btn-primary btn-action px-5">{{'LANDING_PAGE.h-zion.button-buy-zion' | translate}}</button>
                </div>
              </div>
            </div>
        </div>
      </div>
  