    <!-- White Paper -->
    <div [class.animation_component]="slide_change">
        <div class="col-12 d-flex flex-column flex-lg-row justify-content-between white-paper slide-component px-5">
          <div class="col-12 col-lg-6 d-flex align-items-center left-slide">
            <div class="container-fluid descript px-xl-0">
              <!-- Description -->
              <div class="row mx-0 mt-5 mt-lg-0">
                <span class="display-3 text-light col-12 text-center text-lg-start">
                  <strong>{{'LANDING_PAGE.i-white-paper.title' | translate}}</strong>
                </span>
                <ul class="text-light col-12 py-3 mt-3 text-start">
                  <li>Web : Web3,  Angular, NgrxStore, Bootstrap (OpenSource)</li>
                  <li>App : Web3, React Native, Redux (OpenSource)</li>
                  <li>Backend : ApisRest, NodeJs (Private)</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Phone Image -->
          <div class="container-img d-flex col-12 col-lg-6 mt-5 mb-lg-5 pb-lg-5 right-slide">
            <div class="d-flex align-items-baseline">
              <div class="col-12 d-flex justify-content-center">
                  <img class="w-100 h-100"
                  src="../../../../../assets/img/i - White Paper/internet-phone-element.svg" alt="Internet Phone">
              </div>
            </div>
          </div>
        </div>
      </div>
  